:root{
  --mainBlue:#005086;
  --lightBlue:#B2EBF2;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#BE5683;
  
}

body{
  font-family: 'Metal Mania', cursive !important;
  letter-spacing: 0.1rem;
  background: var(--mainWhite) !important;
  color:var(--mainDark)!important;
}

.title{
  letter-spacing: 0.5rem;
}

.details{
  
}

.product-list{
  background-image: url('background.jpg');
}

.text{
  font-family: 'Della Respira', serif;
  letter-spacing: 0.1rem;
}

.text-blue{
  color:var(--mainBlue);
}

.text-blue-button{
  color:var(--mainBlue);
}
.text-blue-button:hover{
  color: var(--lightBlue) !important;
}

.text-white{
  color:var(--mainWhite);
}
.text-bright{
  color:var(--mainWhite);
}

.btn-black{
  background: transparent;
  text-transform: capitalization;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}